* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  /* min-height: 100vh; */
  margin: 50px;
  justify-content: center;
}

.container {
  max-width: 600px;
  padding: 30px;
}

header {
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 20px;
}

h1 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-post-title {
  font-size: 30px;
  font-weight: 600;
}

h2,
h3,
h4 {
  margin-bottom: 10px;
}

.last-updated {
  font-size: 14px;
  color: #666;
}

.paragraph:last-child {
  margin-bottom: 50px;
}

hr {
  border: 1px solid #c5c6d0;
}

ol,
ul {
  padding-left: 50px;
  margin-bottom: 20px;
}

.blog-image {
  max-width: 600px;
}

figcaption {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-logo {
  height: 20px;
  width: 20px;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  body {
    margin: 30px;
    font-size: 15px;
  }

  .container {
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  body {
    margin: 10px;
    font-size: 14px;
  }

  .container {
    padding: 20px;
  }
}

.post-year {
  grid-area: post-year;
  color: #666;
}

.post-title {
  grid-area: post-title;
}

.post-date {
  grid-area: post-date;
  text-align: right;
  color: #666;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "post-year post-title post-date";
  margin-bottom: 150px;
}
